---
layout: app
title: 404 not found
permalink: /404.html
eleventyExcludeFromCollections: true
seoDoNotIndex: true
---

<div class="text-center">
  <h2 class="text-2xl font-bold">404 not found</h2>
  <img class="my-8 w-[400px] max-w-full object-cover mx-auto rounded-md"
    src="{{ 'https://c.tenor.com/ghHlWYwrXFUAAAAC/nothing-willy-wonka.gif' | staticallyImg }}">
</div>
