---
layout: app.njk
title: greetings
description: welcome to david adi nugroho personal site.
---

<h1 class="mt-8 text-2xl font-bold text-center md:text-4xl">
  👋 greetings
</h1>

<div class="article">
  <p>
    i believe in the beauty and diversity of the world. everything i do is to
    enjoy every piece of it. in doing so, i choose to live a simple and
    intentional life. i love the work and colleagues i work with, i consume
    only the things i need, live without clutter and burden to the past.
    then contribute to society in a useful way.
  </p>
  <p>
    my name is <b>david adi nugroho</b> and i am a
    self-taught <b>software developer</b>.
  </p>
  <p>
    i solve problems using technological advancement that the world has to
    offer. i believe programming languages are only tools to solve such
    problems. but i happen to be comfortable with backend side and familiar
    with php/laravel. i also know how the network and server works. i can make
    sure an app works from the ground up to alive in the cloud.
  </p>
  <p>do you believe in solving problems using technology too?</p>
  <a href="/contact">&gt;&gt; let me work with you!</a><br>
  <a href="/pieces">&gt;&gt; or see my pieces.</a>
</div>
