---
layout: app
title: pieces
description: see david adi nugroho pieces.
---

<h1 class="mt-8 text-2xl font-bold text-center md:text-4xl">
  🪵️ pieces of me
</h1>

<section>
  <h2 class="mt-8 text-xl font-bold md:text-2xl">
    🏗️ projects
  </h2>
  <p class="mt-2">coming soon</p>
</section>

<section>
  <h2 class="mt-12 text-xl font-bold md:text-2xl">
    📝️ articles
  </h2>
  <ul class="mt-4 ml-6">
    {% for article in collections.article %}
      <li class="text-lg list-disc">
        <a class="underline" href="{{ article.url }}">
          {{ article.date | datesify('d MMM YY') | lowercase }} - {{ article.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
